#form_bracket {
  margin-top: 20px;
}

#form_bracket table * { 
  box-sizing:border-box
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  line-height: normal;
}

input[readonly] {
  background-color: transparent;
  cursor: auto !important;
}

input[type=text][readonly] {
  border: 0px;
}

.team {
  font-size: 10px;
  width: 84px;
  height: 15px;
  line-height: 15px;
  cursor: pointer;
}

.winner {
  font-size: 10px;
  width: 84px;
  height: 15px;
  line-height: 15px;
  border: 0px;
  cursor: pointer !important;
}

input.correct {
  color: green;
  font-weight: bold;
}

input.incorrect {
  color: red;
  font-weight: bold;
}

input.eliminated {
  text-decoration: line-through;
}

div.right, input.right {
  text-align: right;
  padding-right: 2px;
}

div.left, input.left {
  text-align: left;
  padding-left: 2px;
}

input.champ { 
  text-align: center;
  font-weight: bold;
  cursor: auto !important;
}

input.finals {
  border-bottom: 1px solid black;
}

input[name=final_score] {
  height: 20px; 
  width: 50px; 
  /*margin-bottom: 5px; */
  text-align: center; 
  font-size: 14px;
  cursor: auto;
  display: block;
}

input[name=entry_name] {
  width: 150px;
}

.bracket {
  border-collapse: separate;
}

td.bottom {
  border-bottom: 1px solid;
}

td.right {
  border-right: 1px solid;
}

td.left {
  border-left: 1px solid;
}

td.champ{
  width: 85px;
  vertical-align: top;
}

td.semi_left {
  padding-right: 5px;
}

td.semi_right {
  padding-left: 5px;
}

.region {
  text-align:center;
  font-weight:bold;
  font-size:14px !important;
}

.region input {
  text-align:center;
}