* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 960px;
  margin: 0 auto;
}

.main-title {
  display: block;
  color: #222;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}

input[type=submit] {
  font-size: 18px;
  padding: 2px;
  margin-top: 2px;
}

.team {
  font-size: 12px;
  width: 85px;
  height: 15px;
  line-height: 15px;
  cursor: pointer;
}

.winner {
  font-size: 12px;
  width: 85px;
  height: 15px;
  line-height: 15px;
  border: 0px;
  cursor: pointer;
}

td.bottom {
  border-bottom: 1px solid;
}

td.right {
  border-right: 1px solid;
}

td.left {
  border-left: 1px solid;
}

td.champ{
  padding: 0 5px;
}

td.semi_left {
  padding-right: 10px;
}

td.semi_right {
  padding-left: 10px;
}

input.finals {
  border-bottom: 1px solid;
}