input[type=number] {
  width: 45px;
}

div.form-inline {
  margin-bottom: 10px;
}

#points {
  margin-bottom: 5px;
}

#bonus {
  margin-bottom: 20px;
}

#points label {
  width: 160px;
  margin-right: 10px;
}

div.options {
  float: left;
  width: 250px;
  margin-right: 10px;
}