{% extends "base.html" %}

{% block title %}Admin Settings{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="/static/jquery-ui-1.8.23.custom.css" />
<script type="text/javascript" src="/static/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript">
$(function(){
  $('#datepicker').datepicker({ minDate: 0 });          
});   
</script>
{% endblock %}

{% block content %}
<h2>Admin Settings</h2>
<div style="margin-bottom:15px;"><a href="/admin/teams/upload">Upload Teams</a></div>
<div style="margin-bottom:15px;"><a href="/brackets/master">Master Bracket</a></div>
<form method="post" class="input_form">
  <table>
    <tr>
      <td class="label">
        Lock Date
      </td>
      <td>
        <input type="text" name="lock_date" id="datepicker" value="{{lock_date}}">
      </td>
      <td class="error">
        {{error_datepicker}}
      </td>
    </tr>
  </table>
  <input type="submit" value="Save">
</form>
<br>
<div><b>{{message}}</b></div>
{% endblock %}