{% extends "base.html" %}

{% block title %}Admin Settings{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="/static/jquery-ui-1.8.23.custom.css" />
<script type="text/javascript" src="/static/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript">
$(function(){
  $('#datepicker').datepicker({ minDate: 0 });          
});   
</script>
{% endblock %}

{% block content %}
<div class="page-header"><h1>Admin Settings</h1></div>
<p><a href="/admin/teams/upload">Upload Teams</a></p>
<p><a href="/brackets/master">Edit Master Bracket</a></p>
<p><a href="/admin/recalc-standings" class="btn">Recalc Standings</a></p>
<form method="post">
  <input type="submit" class="btn btn-danger" value="{{ 'Unlock All Pools' if locked else 'Lock All Pools' }}">
</form>
{% endblock %}