{% extends "base.html" %}

{% set active_page = "findapool" %}

{% block title %}All Pools{% endblock %}

{% block content %}
<div class="page-header"><h1>Find a Pool</h1></div>
<div class="row">
  <div class="span6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pool Name</th>
          <th>Pool Admin</th>
        </tr>
      </thead>
      <tbody>
        {% for p in pools %}
        <tr>
          <td><a href="/pools/{{p.key().id()}}">{{p.name}}</a></td>
          <td>{{p.admin_user.name if p.admin_user}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}