<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Not a Basketball Pool</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/jquery.hotkeys.js"></script>
  {% endblock %}
</head>

<body>
  <div id="header">
    <a href="/" class="main-title">
      Not a Basketball Pool
    </a>

    <div class="login-area">
      {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
      {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
      {% endif %}
    </div>
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
