<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Not a Basketball Pool</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/static/jquery-1.8.0.min.js"><\/script>')</script>
  {% endblock %}
</head>

<body>
  <div id="header">
    <a href="/" class="main-title">
      Not a Basketball Pool
    </a>
    <div class="login-area">
      {% if user %}
      <a href="/account/settings">{{user.name}}</a> (<a href="/logout">logout</a>{% if user.admin %} | <a href="/admin">admin</a>{% endif %})
      {% else %}
      <a href="/login">login</a>
      |
      <a href="/signup">sign up</a>
      {% endif %}
    </div>
    <div id="nav-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pools/all">All Pools</a></li>
        <li><a href="/mypools">My Pools</a></li>
        <li><a href="/mybrackets">My Brackets</a></li>
      </ul>
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  {% block footer %}
  {% endblock %}
</body>
</html>
