{% extends "base.html" %}

{% block title %}Not a Basketball Pool{% endblock %}

{% block content %}

    <div class="container">

      <div class="hero-unit">
        <h4><em>This is...</em></h4>
        <h1>Not a Basketball Pool</h1>
        <p>This is the year that we bring the greatest and nerdiest basketball pool online.</p>
        <p><a href="/pools/all" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
      </div>

      <!-- Questions -->
      <div class="newquestion">
          <h4>What is the NCAA Men's Division I Basketball Tournament?</h4>
          <div class="well">
          It is the year-end championship for college basketball.  
          64 teams (well, technically 68) are invited, and it is a single elimination 
          tournament taking place over a three-week period. You can read more about it
          <a href="http://en.wikipedia.org/wiki/NCAA_Men%27s_Division_I_Basketball_Championship">on Wikipedia</a>
          </div>
      </div>

      <div class="newquestion">
          <h4>Why should I participate?</h4>
          <div class="well">
          	Because it's the most fun time in sports. The drama is real and it's a major part
          	of American sports culture. Also, because your friends and coworkers are doing it.
          </div>
      </div>

      <div class="newquestion">
          <h4>How much effort do I have to put into this?</h4>
          <div class="well">
          	As much as you like. It's pretty easy to choose 63 winners in whatever manner you like. 
          	Then, you can just watch the games (or not) and enjoy sharing the experience with your friends.
          </div>
      </div>
      
      <div class="newquestion">
          <h4>What are the chances of winning?</h4>
          <div class="well">
        	This is the most even competition ever. Everyone has an equal chance of winning.
          </div>		
      </div>      

      <div class="newquestion">
          <h4>How is the winner determined?</h4>
          <div class="well">
			<p>Your pool administrator will setup your individual pool with it's own scoring system.
			<p>Points are earned for each correct game winner chosen. Usually, later rounds are scored higher
			and bonus points are awarded for choosing lower seeds
		  </div>		
      </div>      

      <div class="newquestion">
          <h4>Ok, but really, what should I know?</h4>
          <div class="well">
			Well, here are a few tips.
			<ul>
				<li>No #16 seed has ever won a game</li>
				<li>Every other seed has a chance, but lower numbers are better teams</li>
				<li>Some people love to pick based on team name, mascot or location and that can work!</li>
				<li>Last year, a randomly generated bracket won the pool</li>
			</ul>
		</div>
      </div>

      <div class="newquestion">
          <h4>That's useful info, but why are you so excited about this?</h4>
          <div class="well">
        	We are nerds. So, here's some numbers:
        	<ul>
        	<li>There are 63 games (we don't count "The First Four")</li>
        	<li>That means there are 2<sup>63</sup> = 9.223 x 10<sup>18</sup> = 
        		<strong>9,223,372,036,854,780,000</strong> possible outcomes</li>
        	<li>That's a lot of outcomes</li>
        	<li>You can (and we do) spend all day analyzing these outcomes</li>
        	<li>Though the teams are ranked, lower-ranked teams win <em>very</em> frequently
        	</ul>
          </div>		
      </div>      

      <div class="newquestion">
          <h4>What else can I learn about this?</h4>
          <div class="well">
			If that's not enough info for you, here's a few articles that you might like:
			<ul>
				<li><a href="http://www.slate.com/articles/sports/sports_nut/2009/03/how_to_win_your_ncaa_pool.html">How to Win Your NCAA Pool (slate.com)</a></li>
				<li><a href="http://www.freakonomics.com/2009/03/17/when-losing-leads-to-winning/">When Losing Leads to Winning (freakonomics.com)</a></li>
				<li><a href="http://www.huffingtonpost.com/2012/03/13/march-madness-bracket-pic_n_1340814.html">March Madness: Bracket-Picking 101 (huffingtonpost.com)</a></li>				
			</ul>
          </div>
      </div>

      <div class="newquestion">
          <h4>This is awesome. What will I be able to see?</h4>
          <div class="well">
        	You can analyze your pool to scary levels of depth. For example:
        	<ul>
        	<li>We'll give you ways to see how many games people have picked with you</li>
        	<li>We'll identify games that are important to you and who is on your side</li>
        	<li>We'll show you the games that matter to the outcome of your pool</li>
        	</ul>
        	If what we give you isn't enough and you ask nicely,
        	we can get you an export of all the picks in your pool to run your own analysis. 
        	<p><em>Please share your new analysis with us so we can build it for everyone</em>
          </div>		
      </div>      

      <div class="newquestion">
          <h4>Show me something about the games themselves</h4>
          <div class="well">
        	You got it. We love analyzing the pool with our friends. But, the games themselves 
        	are also a blast. 
        	<p><strong>Watch them here:</strong> <a href="http://vault.ncaa.com/">The NCAA Vault of Basketball Highlights</a>
        	<ul>
        	<li><a href="http://bit.ly/yXqWeC">Start with this Michigan State over Maryland ending</a></li>
        	<li><a href="http://vault.ncaa.com/?game=306SR191_s01&seconds=4720">Then see Duke squeak by Butler in 2010</a></li>
        	<li><a href="http://vault.ncaa.com/?game=306SR191_s01&seconds=4720">Watch Syracuse survive Kansas in 2003</a></li>
        	<li><a href="http://vault.ncaa.com/?game=306SR272_s01&seconds=4790">Current coach of Valpo hits a game winner as a player for Valpo in 1998</a></li>
        	<li><a href="http://vault.ncaa.com/?game=306101217_xxx&seconds=4520">Kansas hits a 3 to force overtime against Memphis in 2008</a></li>
        	</ul>
          </div>		
      </div>      

 	<hr>
      <!-- Row of Calls to Action -->
      <div>
		<h4> Finally ready to get involved? </h4>
      <div class="row">
        <div class="span4">
          <h2>Join a Pool</h2>
          <p>Check this out if you're looking for an existing pool to join</p>
          <p><a class="btn" href="/pools/all">Find a Pool &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Make your picks</h2>
          <p>Start here if you just want to enter your picks for this year</p>
          <p><a class="btn" href="/brackets/new">Create a Bracket &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Set up a Pool</h2>
          <p>Start here if you want to create a pool and invite your friends to join you</p>
          <p><a class="btn" href="/pools/new">Create a Pool &raquo;</a></p>
       </div>
      </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Not a Basketball Pool 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

{% endblock %}