{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<h2>Forgot your password?</h2>
<p>We'll send password reset instructions to the email associated with your account.</p>
<form method="post" class="input_form">
  <table>
    <tr>
      <td class="label">Username</td>
      <td>
        <input type="text" name="username" value="{{username}}" autofocus="autofocus" maxlength="20" required="required">
      </td>
    </tr>
  </table>
  <div class="error" style="margin-bottom:5px;">
    {{error_username}}
  </div>
  <input type="submit" value="Send Email">
</form>
{% endblock %}