{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="page-header"><h1>Forgot your password?</h1></div>
<p>Enter your username and we'll send password reset instructions to the email associated with your account.</p>
<form method="post">
  <fieldset>
    <label class="hide">Username</label>
    <input type="text" name="username" value="{{username}}" autofocus="autofocus" maxlength="20" placeholder="Username" required>
    <span class="help-inline" style="margin-bottom:10px; color:#B94A48;">{{error_username}}</span>
  </fieldset>
  <input type="submit" class="btn btn-primary" value="Send Email">
</form>
{% endblock %}