{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<p style="font-weight:bold;">{{message}}</p>
<h2>Login</h2>
<form method="post" class="input_form">
  <table>
    <tr>
      <td class="label">Username</td>
      <td>
        <input type="text" name="username" value="{{username}}" autofocus="autofocus" maxlength="20">
      </td>
    </tr>
    <tr>
      <td class="label">Password</td>
      <td>
        <input type="password" name="password" value="" maxlength="20">
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top:5px;"><a href="/account/settings/password/forgot">Forgot your password?</a></td>
    </tr>
  </table>
  <div class="error">
    {{error_login}}
  </div>
  <input type="submit" value="Login">
</form>
<br>
<p>Don't have an account? <a href="/signup{{return_url}}">Sign Up</a>.</p>
{% endblock %}