{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div style="max-width:250px; margin:20px auto 0 auto;" class="well">
  <form method="post">
    <fieldset>
      <legend>Log In</legend>
      <label class="hide">Username</label>
      <div>
        <input class="input-block-level" type="text" name="username" value="{{username}}" autofocus="autofocus" maxlength="20" placeholder="Username" required>
      </div>
      <label class="hide">Password</label>
      <div>
        <input class="input-block-level" type="password" name="password" value="" maxlength="20" placeholder="Password" required>
        <p class="text-error" style="font-weight:bold;">{{error_login}}</p>
        <span class="help-block"><a href="settings/password/forgot">Forgot your password?</a></span>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary btn-block">Log In</button>
  </form>
  <p>Don't have an account? <a href="/signup{{return_url}}">Sign Up</a></p>
</div>
{% endblock %}