{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post" class="input_form">
  <table>
    <tr>
      <td class="label">
        Username
      </td>
      <td>
        <input type="text" name="username" value="{{username}}" autofocus="autofocus">
      </td>
    </tr>
    <tr>
      <td class="label">
        Password
      </td>
      <td>
        <input type="password" name="password" value="">
      </td>
    </tr>
  </table>
  <div class="error">
    {{error_login}}
  </div>
  <input type="submit" value="Login">
</form>
<br>
<label>Don't have an account? Create one <a href="/signup{{return_url}}">here</a></label>
{% endblock %}