{% extends "base.html" %}

{% block title %}Pool Viz Table{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/ColVis.min.js"></script>
<script type="text/javascript" src="/static/FixedColumns.min.js"></script>
<script type="text/javascript" src="/static/usersimilarity.js"></script>


<link type="text/css" rel="stylesheet" href="/static/pool.css" />
<link type="text/css" rel="stylesheet" href="/static/ColVis.css" />
<link type="text/css" rel="stylesheet" href="/static/usersimilarity.css" />


{% endblock %}

{% block content %}
<div class="page-header" style="position:relative;">
  <h1 style="text-align:center"><a href="/pools/{{pool.id}}">{{pool.name}}</a></h1>
  {% if pool.admin_user.id == user.id %}
  <div>
    <p style="position:absolute; bottom:0; right:0; margin-bottom:19px; margin-right:5px;"><a href="/pools/{{pool.id}}/admin">Admin Dashboard</a></p>
  </div>
  {% endif %}
</div>
<p style="text-align:center;">
  {% if not locked %}
    <a href="/brackets/choose?p={{pool.id}}" class="btn btn-primary btn-large">Enter a Bracket</a>
  
  {% else %}
    <a href="/pools/{{pool.id}}/master" class="btn btn-primary btn-large">View Master Bracket/Game Analysis</a>
      <a href="/pools/{{pool.id}}/usersimilarity" class="btn btn-info btn-large">User Similarity</a>
      <a href="/pools/{{pool.id}}/picksbyteam" class="btn btn-info btn-large">Picks by Team</a>
        

  {% endif %}

</p>
<h2>What did people pick?</h2>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>The number shown here is the number of entries that selected a team to win
  <p><em>Higher numbers indicate that more people picked that team to win</em>
</div>

<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <p><strong>Re-order the columns by dragging the header</strong>
</div>

<div class="mod-content" style="font-size:13px;">
  <table id="usersimilarity" class="table table-hover tablesorter">
  
    <thead>
      <tr>
        <th>Entry Name</th>
        {% for i in range(6) %}
          <th style="text-align:center"> Round {{i+1}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    	{% for resultslist in visualizationdata.values() %}
		  <tr>
		    <td>{{ resultslist[0] }}</td>
    	    {% for j in range(6) %}
            {% set percentpicked = 100 * resultslist[j+1] / numentries %}
            {% set bracketspot = resultslist[7] %}
            {% set gamenumber = 65-2**(6-j) + ((bracketspot-1) / 2**(j+1))|int %}
            

    			 {% if percentpicked > 75 %}
            <td class="lotofmatch" style="text-align:center"><a href="master/{{gamenumber}}">{{ resultslist[j+1] }} ({{'{0:.3g}'.format(percentpicked) }}%)</a></td>
           {% elif percentpicked > 50 %}
            <td class="middlematch" style="text-align:center"><a href="master/{{gamenumber}}">{{ resultslist[j+1] }} ({{'{0:.3g}'.format(percentpicked) }}%)</a></td>
           {% else %}
            <td style="text-align:center"><a href="master/{{gamenumber}}">{{ resultslist[j+1] }} ({{'{0:.3g}'.format(percentpicked) }}%)</a></td>
           {% endif %}
			    {% endfor %}
	    </tr>
	    {% endfor %}
	</tbody>
  </table>
</div>
{% endblock %}