{% extends "base.html" %}

{% block title %}{{pool.name}}{% endblock %}

{% block content %}
<div class="page-header"><h1 style="text-align:center">{{pool.name}}</h1></div>
<div style="text-align:center;">
  <p>Please enter the password for this Pool to join</p>
  <form method="post">
    <fieldset>
      <input type="password" name="password" value="" autofocus="autofocus">
      <p class="text-error">{{error_login}}</p> 
    </fieldset>
    <input type="submit" value="Join" class="btn btn-primary">
  </form>
</div>
{% endblock %}