{% extends "base.html" %}

{% block title %}{{pool.name}}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/pool.js"></script>
<link type="text/css" rel="stylesheet" href="/static/pool.css" />
{% endblock %}

{% block content %}
<h2 class="pool-title"><a href="/pools/{{pool.id}}">{{pool.name}}</a></h2>
{% if pool.admin_user.id == user.id %}
<div class="centered_text" style="margin-bottom:5px;">
  (<a href="/pools/{{pool.id}}/admin">admin</a>)
</div>
{% endif %}
<div class="centered_text" style="margin-bottom:10px">
  {% if not locked %}
  <a href="/brackets/choose?p={{pool.id}}">Enter a Bracket</a>
  {% else %}
  <a href="/pools/{{pool.id}}/master">View Master Bracket/Game Analysis</a>
  {% endif %}
</div>
<div class="mod-header">
  <h4>Standings</h4>
</div>
<div class="mod-content">
  <table id="standings" class="standings tablesorter">
    <thead>
      <tr>
        <th><div>Rank</div></th>
        <th><div>Bracket Name</div></th>
        <th><div>Total Score</div></th>
        <th><div>Rd 1</div></th>
        <th><div>Rd 2</div></th>
        <th><div>SS</div></th>
        <th><div>EE</div></th>
        <th><div>FF</div></th>
        <th><div>Champ</div></th>
        <th><div>Prior Rank</div></th>
        <th><div>Change in Rank</div></th>
        <th><div>Max Score</div></th>
        <th><div>Max Score Rank</div></th>
      </tr>
    </thead>
    <tbody>
      {% for e in entries %}
      <tr class="{{loop.cycle('odd', 'even')}} {% if e.own %}user-entry{% endif %}" {% if locked or e.own %}onclick="document.location.href = '/brackets/{{e.id}}';"{% endif %}}>
        <td>{{e.rank}}</td>
        <td>{{e.name}}</td>
        <td style="text-align:center;">{{'{0:.3g}'.format(e.points.total)}}</td>
        <td style="text-align:center;">{{'{0:.3g}'.format(e.points.round_1)}}</td>
        <td style="text-align:center;">{{'{0:.3g}'.format(e.points.round_2)}}</td>
        <td style="text-align:center;">{{'{0:.3g}'.format(e.points.round_3)}}</td>
        <td style="text-align:center;">{{'{0:.3g}'.format(e.points.round_4)}}</td>
        <td style="text-align:center;">{{'{0:.3g}'.format(e.points.round_5)}}</td>
        <td style="text-align:center;">{{'{0:.3g}'.format(e.points.round_6)}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}