{% extends "base.html" %}

{% block title %}{{pool.name}}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/pool.js"></script>
<link type="text/css" rel="stylesheet" href="/static/pool.css" />
{% endblock %}

{% block content %}
<div class="page-header" style="position:relative;">
  <h1 style="text-align:center">{{pool.name}}</h1>
  {% if pool.admin_user.id == user.id %}
  <div>
    <p style="position:absolute; bottom:0; right:0; margin-bottom:19px; margin-right:5px;"><a href="/pools/{{pool.id}}/admin">Admin Dashboard</a></p>
  </div>
  {% endif %}
</div>
<p style="text-align:center;">
  {% if not locked %}
  <a href="/brackets/choose?p={{pool.id}}" class="btn btn-primary btn-large">Enter a Bracket</a>
  {% else %}
  <a href="/pools/{{pool.id}}/master" class="btn btn-primary btn-large">View Master Bracket/Game Analysis</a>
  <a href="/pools/{{pool.id}}/usersimilarity" class="btn btn-info btn-large">See how similar you are to others</a>
  {% endif %}
</p>

<!-- Rules Modal -->
<!-- Button to trigger modal -->
<div class="span2 offset10"><a href="#myModal" role="button" class="btn btn-inverse" data-toggle="modal">Pool Rules</a>

  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Rules for {{pool.name}}</h3>
    </div>
    <div class="modal-body">
      <h4>Points per Round</h4>
      <table style="table-layout:fixed; border:solid">
        <thead>
          <tr>
            <th style="text-align:center; width:18%">Round 1</th>
            <th style="text-align:center; width:18%">Round 2</th>
            <th style="text-align:center; width:18%">Sweet Sixteen</th>
            <th style="text-align:center; width:18%">Elite Eight</th>
            <th style="text-align:center; width:18%">Final Four</th>
            <th style="text-align:center; width:18%">Championship</th>
          </tr>
        </thead>
        <tbody><tr>
          {% for p in pool.points %}
          <td style="text-align:center">{{p}}</td>
          {% endfor %}
        </tbody>
      </table>
      <h4>Bonus Option</h4>
      {% if pool.bonus == 'seed' %}
      <strong>Seed</strong>: You get these bonus points for every correct pick. This bonus adds the seed to the points for correct pick.
      <p>For example, in a Round 1 game, you pick the #12 seed to win:
        You would get <strong>{{pool.points[0]}} points </strong> for picking the game correctly, plus <strong>12 bonus points</strong>
        {% elif pool.bonus == 'upset' %}
        <strong>Upset</strong>: You get these bonus points for picking lower seeded teams to win. This bonus is calculated as the difference between the seeds when the lower seed wins.
        <p>For example, in a Round 1 game, you pick the #12 seed to upset the #5:
          You would get {{pool.points[0]}} points for picking the game correctly, plus 7 bonus points (#12 - #5)
          {% else %}
          No Bonus
          {% endif %}
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
    <h2>Standings 
      {% if standings_options|count > 0 %}
      <form method="get" class="form-inline" style="display:inline;">
        <select name="day" onchange="this.form.submit()" style="font-weight:bold;">
          {% for option in standings_options %}
          <option value="{{option[0]}}" style="font-weight:bold;" {% if option[0] == selected %} selected {% endif %}>{{option[1]}}</option>
          {% endfor %}
        </select>
      </form>
      {% endif %}
    </h2>
    <div class="mod-content" style="font-size:13px;">
      <table id="standings" class="table table-striped table-hover tablesorter">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Bracket Name</th>
            {% if pool.id == 40001 %}<th>User</th>{% endif %}
            <th style="text-align:center;">Total Score</th>
            <th style="text-align:center;">Rd 1</th>
            <th style="text-align:center;">Rd 2</th>
            <th style="text-align:center;">SS</th>
            <th style="text-align:center;">EE</th>
            <th style="text-align:center;">FF</th>
            <th style="text-align:center;">Champ</th>
            <th style="text-align:center;">Prev Rank</th>
            <th style="text-align:center;">Change in Rank</th>
            <th style="text-align:center;">Max Score</th>
            <th style="text-align:center;">Max Score Rank</th>
          </tr>
        </thead>
        <tbody>
          {% for e in entries %}
          <tr class="{{loop.cycle('odd', 'even')}} {% if e.own %}user-entry{% endif %}" {% if locked or e.own or user.admin %}onclick="document.location.href = '/brackets/{{e.id}}';"{% endif %}}>
            <td>{{e.standings.rank if e.standings.rank else '-'}}</td>
            <td>{{e.name}}</td>
            {% if pool.id == 40001 %}<td>{{e.user.name}}</td>{% endif %}
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.total) if e.standings.total else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.points[0]) if e.standings.points[0] else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.points[1]) if e.standings.points[1] else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.points[2]) if e.standings.points[2] else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.points[3]) if e.standings.points[3] else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.points[4]) if e.standings.points[4] else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.points[5]) if e.standings.points[5] else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.prev_rank) if e.standings.prev_rank else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.change_rank) if e.standings.change_rank else '-'}}</td>
            <td style="text-align:center;">{{'{0:.3g}'.format(e.standings.max_score) if e.standings.max_score else '-'}}</td>
            <td style="text-align:center;">{{e.standings.max_score_rank if e.standings.max_score_rank else '-'}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}