{% extends "base.html" %}

{% block title %}{{pool.name}} - Admin{% endblock %}

{% block content %}
<h2 class="centered_text" style="margin-bottom:0;">{{pool.name}}</h2>
<div class="centered_text">(<a href="/pools/{{pool.id}}">view</a>)</div>
<h2>Admin Page</h2>
<h3>Users</h3>
<form method="post" class="input_form">
  <table class="cell_padding_right">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Brackets</th>
      <th>Paid</th>
      <th>Remove</th>
    </tr>
    {% for u in users %}
    <tr>
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td class="centered_text">{{u.brackets|count}}</td>
      <td class="centered_text"><input type="checkbox" {% if u.paid %} checked="checked" {% endif %} name="paid_{{u.id}}"></td>
      <td class="centered_text"><input type="checkbox" name="remove_{{u.id}}"></td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Save">
</form>
<br>
<div><b>{{message}}</b></div>
{% endblock %}