{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block head %}
{{ super() }}
<script>
$(function() {
    // do stuff when DOM is ready
    $("#signup_form").submit(function() {
      if (!$("#email").val()) {
        return confirm("No email address! You won't be able to recover a lost password! Continue?")
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form id="signup_form" method="post" class="input_form">
  <table>
    <tr>
      <td class="label">
        Username
      </td>
      <td>
        <input type="text" name="username" value="{{username}}" autofocus="autofocus" maxlength="20">
      </td>
      <td class="error">
        {{error_username}}
      </td>
    </tr>
    <tr>
      <td class="label">
        Password
      </td>
      <td>
        <input type="password" name="password" value="" maxlength="20">
      </td>
      <td class="error">
        {{error_password}}
      </td>
    </tr>
    <tr>
      <td class="label">
        Verify Password
      </td>
      <td>
        <input type="password" name="verify" value="" maxlength="20">
      </td>
      <td class="error">
        {{error_verify}}
      </td>
    </tr>
    <tr>
      <td class="label">
        Email (optional)
      </td>
      <td>
        <input type="text" id="email" name="email" value="{{email}}">
      </td>
      <td class="error">
        {{error_email}}
      </td>
    </tr>
  </table>
  <input type="submit" value="Sign Up">
</form>
<br>
<p>Already have an account? <a href="/login{{return_url}}">Login</a>.</p>
{% endblock %}