{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block head %}
{{ super() }}
<script>
$(function() {
    $("#signup_form").submit(function() {
      if (!$("#email").val()) {
        return confirm("Email is optional, but you won't be able to recover a lost password without one. Continue?")
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<div style="max-width:250px; margin:20px auto 0 auto;" class="well">
  <form method="post" id="signup_form">
    <fieldset>
      <legend style="margin-bottom:0;">Sign Up</legend>
      <div class="control-group {{status_username}}">
        <label class="control-label hide">Username</label>
        <div class="controls">
          <input type="text" class="input-block-level" name="username" value="{{username}}" maxlength="20" autocomplete="off" required placeholder="Username" pattern=".{3,20}" title="3 to 20 characters">
          <span class="help-block">{{message_username}}</span>
        </div>
      </div>
      <div class="control-group {{status_password}}">
        <label class="control-label hide">Password</label>
        <div class="controls">
          <input type="password" class="input-block-level" name="password" value="" maxlength="20" autocomplete="off" required placeholder="Password" pattern=".{3,20}" title="3 to 20 characters">
          <span class="help-block">{{message_password}}</span>
        </div>
      </div>
      <div class="control-group {{status_verify}}">
        <label class="control-label hide">Confirm Password</label>
        <div class="controls">
          <input type="password" class="input-block-level" name="verify" value="" maxlength="20" autocomplete="off" required placeholder="Confirm Password" pattern=".{3,20}" title="3 to 20 characters">
          <span class="help-block">{{message_verify}}</span>
        </div>
      </div>
      <div class="control-group {{status_email}}">
        <label class="control-label hide">Email (optional)</label>
        <div class="controls">
          <input type="email" class="input-block-level" name="email" id="email" value="{{email}}" placeholder="Email (optional)">
          <span class="help-block">{{message_email}}</span>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/login{{return_url}}">Log In</a></p>
</div>
{% endblock %}